<div class="container">


    <!-- HEADER AND TODO COUNT -->
    <div class="jumbotron text-center">
        <h3>Articles Trouvés : <span class="label label-info">{{ articles.length }}</span></h3>
    </div>
    <!--
    <div range-slider min="minPrice" max="maxPrice" model-min="userMinPrice" model-max="userMaxPrice" step="5" attach-handle-values="true"></div>-->


    <form class="well form-inline">
        <label>Search:</label>
        <div>
            <input type="number" ng-model="prixMax" class="input-mini" placeholder="Prix Max">
            <input type="number" ng-model="prixMin" class="input-mini" placeholder="Prix Min">

            <input type="number" ng-model="reductionMax" class="input-mini" placeholder="Reduction Max">
            <input type="number" ng-model="reductionMin" class="input-mini" placeholder="Reduction Min">
        </div>
        <div>
            <input type="number" ng-model="reductionGlMax" class="input-mini" placeholder="Reduction Globale Max">
            <input type="number" ng-model="reductionGlMin" class="input-mini" placeholder="Reduction Gloable Min">
            <!--
        <input type="number" ng-model="versionMax" class="input-medium search-query" placeholder="Version Max">
        <input type="number" ng-model="versionMin" class="input-medium search-query" placeholder="Version Min">-->
            <!--
<input type="date" ng-model="lastUpdateMax" class="input-medium search-query" placeholder="lastUpdate Max">
<input type="date" ng-model="lastUpdateMin" class="input-medium search-query" placeholder="lastUpdate Min">-->
            <input type="number" ng-model="limit" class="input-small search-query" placeholder="Limit">

            <button type="submit" class="btn" ng-click="search()">Search</button>
        </div>
    </form>


    <div>
        <table ng-table="tableParams" class="table table-condensed table-bordered table-striped" show-filter="true">
            <tr ng-repeat="article in $data">
                <td title="'Image'">
                    <a ng-href="{{article.url}}" target="_blank"> <img ng-src='{{article.img}}'> </a>
                </td>
                <td title="'Titre'" filter="{ titre: 'text'}" sortable="'titre'">
                    <a ng-href="{{article.url}}" target="_blank"> {{article.titre}}  </a></td>
                <td title="'Prix'" filter="{ prix: 'number'}" sortable="'prix'">
                    {{article.prix}}</td>

                <td title="'Reduction'" filter="{ reduction: 'number'}" sortable="'reduction'">
                    {{article.reduction}}</td>
                <td title="'reductionGlobale'" filter="{ reductionGlobale: 'number'}" sortable="'reductionGlobale'">
                    {{article.reductionGlobale}}</td>
                <td title="'Pays'" filter="{ pays: 'text'}" sortable="'pays'">
                    {{article.pays}}</td>
                <td title="'Categorie'" filter="{ categorie: 'text'}" sortable="'categorie'">
                    {{article.categorie}}</td>
                <td title="'FR'">{{article.prixLocaux.fr }}</td>
                <td title="'UK'">{{article.prixLocaux.couk }}</td>
                <td title="'DE'"> {{article.prixLocaux.de }}</td>
                <td title="'IT'">{{article.prixLocaux.it }}</td>
                <!--<td title="'LastUpdate'" filter="{ lastUpdate: 'text'}" sortable="'lastUpdate'">
    {{article.lastUpdate | date :'medium'}}</td>-->

            </tr>
        </table>
    </div>
</div>